html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    color: black;
    font-family: 'Commissioner', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-image: url(../images/image-hero-desktop.jpg);
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
}
.header__name {
    color: white;
    margin: 1rem 5rem;
    font-weight: 700;
}

.container {
    background-color: white;
    width: 35rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.button {
    background-color: hsl(176, 50%, 47%);
    color: white;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 10rem;
    height: 2.25rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}
.button__menu, .button__exit{
    display: none;
}


.button:hover {
    background-color: hsl(176, 72%, 28%);
}

/* NAV */

.nav__links {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-block-start: 0rem;
    font-size: 12px;
    font-weight: 500;

}

.nav__link {
    text-decoration: none;
}

.nav__link-item {
    padding: 1rem;
}
.nav__line  {
    display: none;
}
/* HERO */
.hero {
    transform: translate(0, -2rem);
    margin-bottom: 0;
}

.logo__container {
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    transform: translate(16rem, -3rem);
    position: fixed;

}

.logo {
    background-image: url(../images/logo-mastercraft.svg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hero__header {
    text-align: center;
    margin-block-end: 0.25rem;
}

.hero__sub-header {
    color: hsl(0, 0%, 48%);
    font-size: 12px;
    text-align: center;
}

.hero__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.hero__bookmark {
    background-color: rgb(236, 233, 233);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    display: flex;
}

.hero__bookmark:hover {
    background-color: hsl(175, 39%, 89%);
    color: hsl(176, 72%, 28%)
}

.hero__bookmark-icon {
    padding: 0.8rem;
    background-color: hsl(0, 0%, 48%);
    border-radius: 2rem;
    font-size: 15px;
    position: fixed;
    transform: translate(-0.4rem, -0.25rem);
    height: 1rem;
    width: 1rem;
}
.hero__bookmark-icon:hover {
    background-color: hsl(176, 72%, 28%) ;
    color: white;
}


.hero__bookmark-text {
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 2.5rem;
}

/* NUMBERS */
.numbers {
    margin-bottom: 2rem;
}

.number__container {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0.5rem;
    margin-right: 5rem;
}

.number {
    padding: 0 1rem;
}

.number1 {
    border-right: 1px solid rgb(236, 233, 233);
}

.number__big {
    font-weight: 700;
    font-size: 22px;
}

.number__small {
    font-size: 12px;
    color: hsl(0, 0%, 48%);
}

.numbers__line-grey {
    height: 0.5rem;
    margin: 1.5rem;
    background-color: rgb(236, 233, 233);
    border: none;
    border-radius: 0.5rem;
}

.numbers__line-blue {
    height: 0.5rem;
    background-color: hsl(176, 50%, 47%);
    border: none;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    width: 60%;
    max-width: 92%;
    transform: translate(0, -2rem);
}

/* MAIN */

.main {
    background-color: rgb(236, 233, 233);
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    padding: 1rem;
}

.about__description, .stand__description, .support__sub-header {
    color: hsl(0, 0%, 48%);
    font-size: 14px;
}

.stand, .option {
    border: 1px solid rgb(236, 233, 233);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 0.5rem;
}

.stand__hero {
    display: flex;
    justify-content: space-between;
}

.stand__sub-header {
    color: hsl(176, 50%, 47%);
    font-size: 14px;
    font-weight: 500;
}

.stand__footer {
    display: flex;
    justify-content: space-between;
}

.stand__number, .option__left {
    display: flex;
}

.bold {
    font-weight: 700;
    font-size: 22px;
}

.left {
    padding-top: 0.75rem;
    padding-left: 0.25rem;
}

.stand__button {
    width: 8rem;
    margin-top: 1rem;
}

.stand__button-out {
    background-color: hsl(0, 0%, 48%);

}

.stand__out, .option_out {
    opacity: 50%;
}

/* SUPORT */

.support {
    position: absolute;
    transform: translate(0rem, -2rem);
    display: none;
    z-index: 2;
}

.support__exit-container {
    text-align: right;
}

.support__exit {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.option_hero {
    display: flex;
    justify-content: space-between;
}

.option_hero-free {
    display: flex;
}

.option__header {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    flex-basis: 45%;
    text-align: left;
    height: 2rem;
    font-size: 16px;
}

.option__header:hover {
    color: hsl(176, 50%, 47%);
}

.option__sub-header {
    color: hsl(176, 50%, 47%);
    font-size: 16px;
    margin-top: 0.25rem;
    flex-basis: 40%;

}

.option__icon {
    flex-basis: 5%;
    margin-top: 0.25rem;
}

.option__left {
    flex-basis: 10%;
    margin-top: 0.25rem;
}


.option__bold {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 16px;
}

.option__small {
    padding-top: 0.25rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 12px;
}

.option__description {
    margin-left: 2rem;
    margin-top: 1rem;
    color: hsl(0, 0%, 48%);

}
.option__alert {
    text-align: right;
    font-size: 12px;
    color:hsl(176, 50%, 47%); ;
    margin-right: 0.8rem;
}

/* ENTER */

.enter__bamboo {
    display: none;
}

.enter__black {
    display: none;
}

.option__enter-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.option__enter-container2 {
    display: flex;
}

.option__enter-header {
    margin: 1rem;
    color: hsl(0, 0%, 48%);
}

.option__enter-line {
    margin: 1rem 0;
    background-color: hsl(0, 0%, 48%);
}
.option__input-container {
    display: flex;
    border-radius: 1rem;
    border: 0.01rem solid hsl(0, 0%, 48%);
    width: 5rem;
    height: 2rem;
    margin-top: 0.6rem;
}

.option__enter-input {
    padding:  0rem;
    color: transparent;
    border: none;
    outline: none;
    width: 3rem;
    font-weight: 700;
    height: 2rem;
    color: black;
    font-size: 16px;

    
}
.option__enter-input::-webkit-outer-spin-button,
.option__enter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.option__enter-dolar {
    margin: 0.25rem;
    padding-left: 0.25rem;
    color:hsl(0, 0%, 48%) ;
    font-size: 16px;
    
}

.option__input-container:hover{
    border: 0.01rem solid hsl(176, 50%, 47%);
}

.option__enter-button {
    width: 6rem;
    margin: 0.5rem;
}

.thanks {
    display: none;
    width: 25rem;
    text-align: center;
    justify-content: center;
    position: absolute;
    transform: translate(0rem, -2rem);
    z-index: 2;
}

.thanks__icon {
    font-size: 50px;
    color: hsl(176, 50%, 47%);
}

.thanks__header {
    font-weight: 700;
    margin: 1rem;
    font-size: 20px;

}

.thanks__description {
    color: hsl(0, 0%, 48%);
}

.thanks__button {
    margin: 1rem;
    width: 6rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 213%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

@media (max-width: 768px) {

    .logo__container {
        transform: translate(8.5rem, -3rem);
    }

    .container {
        width: 20rem;
    }
    .header__name {
        margin: 2rem 2rem;
    }

    .nav__buttons-container {
        display: flex;
        justify-content: right;
    }
    .button__menu, .button__exit {
        color: white; 
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        text-align: right;
        padding: 1rem;
        margin: 1rem;
        font-size: 20px;
    }
    .button__exit {
        display: none;
        z-index: 3;
    }

    .hero__bookmark-text {
        display: none;
    }

    .hero__bookmark {
        width: 3rem;
        border-radius: 4rem;
    }

    .stand__hero {
        flex-direction: column;
    }

    .stand__footer {
        flex-direction: column;
    }

    .stand__header {
        margin-block-end: 0;
    }

    .stand__button {
        margin-top: 0;
    }

    .number__container {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-right: 0rem;
    }

    .number1 {
        border-right: none;
        border-bottom: 1px solid rgb(236, 233, 233);
    }

    .number {
        margin: 0 3rem;
        padding: 1rem;
    }

    .number__big {
        font-size: 28px;
    }

    .numbers__line-blue {

        width: 12rem;

    }
    .option_hero {
      flex-wrap: wrap;
    }
    .option__header {
        flex-basis: 80%;
       
    }
    .nav__links {
        display: none;
    }
    .nav__links-click {
        display: flex;
        text-align: left;
        list-style: none;
        position: absolute;
        flex-direction: column;
        background-color: white;
        width: 20rem;
        height: 14rem;
        border-radius: 6px;
        transform: translate(-90%, 0);
        padding-inline-start: 0;
        z-index: 3;
        visibility: visible;
    }
    .nav__line {
        color: rgb(236, 233, 233);
        display: block;
    }
    
    a {
        color: black;
    }
    .nav__link-item {
        margin: 0.5rem;
        font-size: 18px;
        padding: 1rem;
    }
    
    .option__sub-header {
        flex-basis: 80%;
    
    }
    
    .option__icon {
        flex-basis: 5%;
        margin-top: 0.25rem;
    }
    
    .option__left {
        flex-basis: 10%;
        margin-top: 0.25rem;
    }
    .option__description {
        margin-left: 0.5rem;
       
    }
    .overlay {
       
        width: 100%;
        height: 350%;
        
    }

.option__enter-container {
    flex-direction: column;
    align-items: center;
}
}