html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    color: black;
    font-family: 'Commissioner', sans-serif;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.header {
    background-image: url(../images/image-hero-desktop.jpg);
    width: 100%;
    height: 20rem;
}

.container {
    background-color: white;
    width: 35rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.button {
    background-color: hsl(176, 50%, 47%) ;
    color: white;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 10rem;
    height: 2.25rem;
    cursor: pointer;
    font-size: 12px; 
    font-weight: 700;
}

.button:hover {
    background-color: hsl(176, 72%, 28%);
}
/* NAV */

.nav__links {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-block-start: 0rem;
    font-size: 12px;
    font-weight: 500;

}
.nav__link {
    text-decoration: none;
}

.nav__link-item {
    padding: 1rem;
}

/* HERO */
.hero {
    transform: translate(0, -2rem);
    margin-bottom: 0;
}
.logo__container {
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    transform: translate(16rem, -3rem);
    position: fixed;
    
}
.logo {
    background-image: url(../images/logo-mastercraft.svg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hero__header {
    text-align: center;
    margin-block-end: 0.25rem;
}
.hero__sub-header {
    color: hsl(0, 0%, 48%);
    font-size: 12px;
    text-align: center;
}
.hero__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem ;
}
.hero__bookmark {
    background-color: rgb(236, 233, 233);
    width: 8rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}
.hero__bookmark:hover {
    background-color:hsl(175, 39%, 89%);
    color:hsl(176, 72%, 28%)
}
/* NUMBERS */
.numbers {
    margin-bottom: 2rem ;
}
.number__container {
    display: flex;
    justify-content: space-evenly;    
    margin: 1.5rem 0.5rem ;
    margin-right: 5rem;
}
.number {
    padding: 0 1rem;
}
.number1 {
    border-right:1px solid rgb(236, 233, 233);
}
.number__big {
    font-weight: 700;
    font-size: 22px;
}
.number__small {
    font-size: 12px;
    color: hsl(0, 0%, 48%);
}

.numbers__line-grey {
    height: 0.5rem;
    margin: 1.5rem;
    background-color:rgb(236, 233, 233);
    border: none;
    border-radius: 0.5rem;
}
.numbers__line-blue {
    height: 0.5rem;
    background-color:hsl(176, 50%, 47%);
    border: none;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    width: 25rem;
    transform: translate(0, -2rem);
}
/* MAIN */

.main {
    background-color: rgb(236, 233, 233);;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    padding: 1rem;
}
.about__description, .stand__description, .support__sub-header {
    color: hsl(0, 0%, 48%);
    font-size: 14px;
}
.stand, .option{
    border:1px solid rgb(236, 233, 233);
    margin: 1rem 0;
    padding: 1em;
    border-radius: 0.5rem;
}

.stand__hero {
    display: flex;
    justify-content: space-between;
}
.stand__sub-header {
    color: hsl(176, 50%, 47%) ;
    font-size: 14px;
    font-weight: 500;
}
.stand__footer {
    display: flex;
    justify-content: space-between;
}
.stand__number, .option__left {
    display: flex;
}
.bold {
    font-weight: 700;
    font-size: 22px;
}
.left {
    padding-top: 0.75rem;
    padding-left: 0.25rem;
}
.stand__button {
   width: 8rem;
    margin-top: 1rem;
}
.stand__button-out {
    background-color: hsl(0, 0%, 48%); 

}
.stand__out, .option_out {
    opacity: 50%;
}

/* SUPORT */

.support {
    position: absolute;
    transform: translate(0rem, -2rem);
    display: none;
    z-index: 2;
}
.support__exit-container {
    text-align: right;
}
.support__exit{
    background-color:transparent ;
    border: none;
    outline: none;
    cursor: pointer; 
    font-weight: 700;
}

.option_hero {
    display: flex;
   justify-content:space-between;
}
.option_hero-free {
    display: flex;
}
.option__header {
    background-color:transparent ;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    flex-basis: 45%;
    text-align: left;
    height: 2rem;
    font-size: 16px;
}

.option__header:hover {
color: hsl(176, 50%, 47%);
}
.option__sub-header {
    color: hsl(176, 50%, 47%);
    font-size: 16px;
    margin-top: 0.25rem;
    flex-basis: 40%;

}
.option__icon {
    flex-basis: 5%;
    margin-top: 0.25rem;
}

.option__left {
    flex-basis: 10%;
margin-top: 0.25rem;}


.option__bold {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 16px;
}
.option__small {
    padding-top: 0.25rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 12px;
}
.option__description {
    margin-left: 2rem;
    margin-top: 1rem;
    color: hsl(0, 0%, 48%);
  
}
.enter__bamboo {
display: none ;
}
 .enter__black {
    display: none ;
    }
.option__enter-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.option__enter-header{
    margin: 1rem;
    color: hsl(0, 0%, 48%);
}
.option__enter-line {
    margin: 1rem 0;
  background-color: hsl(0, 0%, 48%);
}

.option__enter-input {
    margin: 0.5rem;
    border-radius: 1rem;
    border:0.01rem solid hsl(0, 0%, 48%);
    outline: none;
    width: 6rem;
    height: 2rem;
    font-weight: 700;
}
.option__enter-input:hover,:active {
    border:0.01rem solid hsl(176, 50%, 47%);
}
.option__enter-button {
    width: 6rem;
    margin: 0.5rem;
}

.thanks {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }